$phone-height: 100vh;

.iphone3 {
  .default_layout {
    width: ($phone-height/19.5) * 8.6;
    height: $phone-height * 0.78;
  }
  .content_box {
    .style_iframe {
      width: ($phone-height/19.5) * 8.6;
      height: $phone-height * 0.665;
      top: 16.4vh;
    }
    .lock {
      height: 66%;
    }
  }
}

.iphone4 {
  .default_layout {
    width: ($phone-height/19.5) * 8.7;
    height: $phone-height * 0.77;
    .bg_stake {
      height: 76vh !important;
    }
    .bg_liner_buyPhone {
      height: 67vh !important;
    }
  }
  .content_box {
    .style_iframe {
      width: ($phone-height/19.5) * 8.53;
      height: $phone-height * 0.65;
    }
    .lock {
      height: 66%;
    }
  }
}

.iphone5 {
  .default_layout {
    width: ($phone-height/19.5) * 8.8;
    height: $phone-height * 0.83;
  }
  .content_box {
    .style_iframe {
      width: ($phone-height/19.5) * 8.2;
      height: $phone-height * 0.7;
    }
    .lock {
      height: 66%;
    }
  }
}

.iphone5s {
  .content_box {
    .style_iframe {
      width: ($phone-height/19.5) * 8.6;
      height: $phone-height * 0.636;
      top: 18.4vh;
      left: 2.8vw;
    }
    .lock {
      height: 66%;
    }
  }
}

.iphone7 {
  .default_layout {
    width: ($phone-height/19.5) * 9.3;
    height: $phone-height * 0.86;
    .bg_stake {
      height: 80vh;
    }
  }
  .content_box {
    .style_iframe {
      width: ($phone-height/19.5) * 8.6;
      height: $phone-height * 0.75;
    }
    .lock {
      height: 66%;
    }
  }
}

.iphone8 {
  .default_layout {
    width: ($phone-height/19.5) * 9.3;
    height: $phone-height * 0.88;
    .bg_stake {
      height: 80vh;
    }
  }
  .content_box {
    .style_iframe {
      width: ($phone-height/19.5) * 8.8;
      height: $phone-height * 0.75;
      top: 11.8vh;
    }
    .lock {
      height: 66%;
    }
  }
}

.iphoneX {
  .default_layout {
    width: ($phone-height/19.5) * 8.9;
    height: $phone-height * 0.96;
    .bg_liner_collection {
      border-radius: 4.5vh !important;
    }
  }
  .content_box {
    .style_iframe {
      width: ($phone-height/19.5) * 8.78;
      height: $phone-height * 0.85;
    }
    .lock {
      height: 80%;
      .screen_size {
        height: $phone-height * 0.97;
        width: ($phone-height/19.5) * 9.6;
      }
    }
  }
}

.iphone11 {
  .default_layout {
    width: ($phone-height/19.5) * 8.6;
    height: $phone-height * 0.96;
  }
  .content_box {
    .style_iframe {
      width: ($phone-height/19.5) * 8.5;
      height: $phone-height * 0.85;
      border-radius: $phone-height/25;
    }
    .lock {
      height: 66%;
    }
  }
}

.iphoneXS {
  .default_layout {
    height: $phone-height * 0.94;
    width: ($phone-height/19.5) * 9.2;
  }
  .content_box {
    .style_iframe {
      width: ($phone-height/19.5) * 8.67;
      height: $phone-height * 0.8;
      border-radius: 0.5em 0.5em 2.2em 2.2em;
      top: 6.7vh;
    }
    .lock {
      height: 80%;
      .screen_size {
        height: $phone-height * 0.96;
        width: ($phone-height/19.5) * 9.6;
      }
    }
  }
}

.iphoneSE2 {
  .default_layout {
    width: ($phone-height/19.5) * 9;
    height: $phone-height * 0.87;
  }
  .content_box {
    .style_iframe {
      width: ($phone-height/19.5) * 8.8;
      height: $phone-height * 0.755;
    }
    .lock {
      height: 66%;
    }
  }
}

.iphoneXR {
  .default_layout {
    width: ($phone-height/19.5) * 8.8;
    height: $phone-height * 0.96;
  }
  .content_box {
    .style_iframe {
      width: ($phone-height/19.5) * 8.65;
      height: $phone-height * 0.83;
      top: 6.7vh;
    }
    .lock {
      height: 80%;
      .screen_size {
        height: $phone-height * 0.95;
        width: ($phone-height/19.5) * 9.6;
      }
    }
  }
}

.iphone12Mini {
  .default_layout {
    width: ($phone-height/19.5) * 9.3;
    height: $phone-height * 0.95;
    border-radius: $phone-height/30;
  }
  .content_box {
    .style_iframe {
      width: ($phone-height/19.5) * 8.9;
      height: $phone-height * 0.86;
    }
    .lock {
      height: 80%;
      .screen_size {
        height: $phone-height * 0.98;
        width: ($phone-height/19.5) * 9.7;
        border-radius: $phone-height/10;
      }
    }
  }
}
