.box-btn-back {
  background-color: transparent;

  .ant-btn {
    display: flex;
    align-items: center;
  }
  .iconLeftOutlined {
    font-size: 5vw;
  }
  .link-btn-back {
    left: 0;
    text-decoration: none;
    .btn-back {
      color: white;
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      img {
        width: 6vw;
        height: 3vw;
      }
    }
  }
}

.width-100 {
  width: 100%;
}
