.box-btn-back {
  background-color: #f0f2f5;

  .ant-btn {
    display: flex;
    align-items: center;
  }
  .iconLeftOutlined {
    font-size: 5vw;
  }
  .link-btn-back {
    left: 0;
    text-decoration: none;
  }
}

.width-100 {
  width: 100%;
}
