$height: 30vh;
.mgb_15 {
  margin-bottom: 5vh !important;
}

.my_ip {
  width: 90%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head_font {
  font-size: 8vw;
}

.product_name_font {
  font-size: 4.5vw;
}

.price_font {
  font-size: 4vw;
  display: flex;
  align-items: center;
  strong {
    font-size: 6vw;
    margin-top: 1%;
  }
  img {
    height: 5vw;
    width: 5vw;
    margin-left: 1vw;
  }
}

.product_bt {
  width: 50%;
  border-radius: 20px;
}

.btn-using {
  color: #40a9ff;
  background: #fff;
  border-color: #40a9ff;
}
