.token_box {
  border-radius: 10px;
  width: 90%;
  height: 92%;
  margin: auto;
  padding: 2vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  img {
    height: 40px;
    width: 40;
  }
}

.amout {
  font-size: x-large;
  font-weight: 700;
  padding-top: 1vh;
  margin: 0;
}
