$phone-height: 99vh;

.styleHome {
  padding: 7vh 1em 1em 1em;
  height: 100vh;
  .btn-icon {
    padding: 0;
    width: 18vw;
    height: 18vw;
    margin: 1vh 0;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0px 15px 20px rgba(51, 137, 197, 0.4);
      background: linear-gradient(90deg, #2d7bfa 0%, #6064cf 100%);
      transform: translateY(-5px);
    }
    img {
      width: 12vw;
      height: 12vw;
    }
  }
}

.default_layout {
  width: ($phone-height/19.5) * 8.9;
  height: $phone-height * 0.927;
  border-radius: $phone-height/30;
}

.open_a {
  animation: zoomin 0.5s;
}

.app-name {
  font-size: 0.6em;
}

@keyframes zoomin {
  0% {
    transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
