$phone-height: 99vh;
$screen-heght: $phone-height * 0.97;
$screen-width: ($phone-height/19.5) * 9.5;
$screen-radius: $phone-height/18.8;

.screen_size {
  height: $screen-heght;
  width: $screen-width;
  border-radius: $screen-radius;
  cursor: pointer;
}

.lock_screen {
  background-size: 100% 100%;
  background-image: url('../../assets/phoneCases/iphone11/iphonewallpaper.png');
}

.fog {
  background-color: white;
  opacity: 0.45;
}

.lock_area {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $screen-heght/2.5;
  flex-direction: column;
}

.icon {
  width: $screen-width/8;
  height: $screen-width/8;
}

.clock_font {
  color: white;
  font-size: $screen-heght/14;
}
