@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
$base: 0.6rem;

.stake {
  height: 90% !important;
  display: flex;
  .boxStake {
    min-height: 30vh;
  }
}

.audio_font {
  font-family: 'Audiowide', cursive;
}

.styleStake {
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  position: relative;
  padding: 0vh 0em 1em 0em;
  height: 100vh;
  background-color: transparent;
  .boxStake {
    padding: 4vh 2vh;
    min-height: 30vh;
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;

    .deposit-and-iphone {
      margin-top: 30px;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 80px;
    }
  }

  .deposit-and-withdraw {
    margin-top: 3em;
    .ant-btn-primary:hover,
    .ant-btn-primary:focus {
      background: linear-gradient(90deg, #5361ca 0%, #0d78f8 100%);
      border-color: #0d78f8;
    }
    .ant-btn:hover,
    .ant-btn:focus {
      background: linear-gradient(90deg, #5361ca 0%, #0d78f8 100%);
      border-color: #5361ca;
    }
  }
}

.text-center {
  text-align: center !important;
}

.bt-liner {
  background: linear-gradient(90deg, #0d78f8 0%, #5361ca 100%);
  width: 37vw !important;
  height: 6vh !important;
  font-size: 4vw !important;
  border-radius: 20px !important;
  color: white;
  font-weight: 800;
}

.bt-liner:hover {
  background: linear-gradient(90deg, #0d78f8 0%, #5361ca 100%);
  color: white;
}

.flex {
  display: flex;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone_header {
  position: absolute;
  width: 100%;
  height: 6vh;
  top: 0;
  img {
    height: 3.7vh;
    opacity: 0.6;
  }
  p {
    font-size: 5vw;
    font-weight: 800;
    color: white;
    margin-bottom: 0;
  }
}

.phone_body {
  margin-top: 6vh;
  width: 100%;
}

.w50 {
  margin: 1vh 3vw;
  width: 50%;
}

.phoneicon {
  margin-right: 2vw;
  img {
    width: 10vh;
    height: 10vh;
  }
}

.phone_font {
  margin: 0;
  font-size: 6vw;
  text-align: left;
  height: 4.7vh;
}

.phonefarm_font {
  color: #858585;
  text-align: left;
  font-size: 3.2vw;
}

.number_font {
  margin: 0;
  height: 4.7vh;
  font-size: 6vw;
  text-align: right;
}

.balance_font {
  color: #858585;
  text-align: right;
  font-size: 3.2vw;
}

.ant-tabs-nav {
  background: linear-gradient(90deg, #0d78f8 0%, #5361ca 100%);
}

.ant-tabs-tab .ant-tabs-tab-btn {
  color: white !important;
  margin-left: 2vw;
  font-size: 4vw;
  height: 2vh !important;
  display: flex;
  align-items: center;
}

.w32px {
  width: 32px;
}
