.buy-phone {
  height: 85vh !important;
  display: flex;
  justify-content: center;
}
.iph_input {
  width: 80%;
  border-radius: 3vh;
  text-align: center;
  margin: auto;
}

.w_100 {
  width: 100%;
  margin: 5vw 0vw;
}

.text_left {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: auto;
}

.buy_bt {
  background-color: rgb(2, 192, 118);
  border-color: rgb(2, 192, 118);
  &:hover {
    background-color: rgb(2, 192, 90);
    border-color: rgb(2, 192, 118);
    color: black;
  }
  &:focus {
    background-color: rgb(2, 192, 118);
    border-color: rgb(2, 192, 118);
    color: black;
  }
}

.scroll_able {
  padding-top: 4vh;
  overflow: overlay;
}

.boxStake {
  .token-transfer {
    height: 30px;
    width: 30;
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 5px;
}
